<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="offers_general" translate="label" type="text" sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Offers</label>
            <tab>OneMoveTwo</tab>
            <resource>OneMoveTwo_Offers::offers</resource>

            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>

                <field id="offer_prefix" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Offer Number Prefix</label>
                    <comment>Prefix for offer numbers (e.g., "OF" will create OF000001)</comment>
                    <validate>required-entry</validate>
                </field>

                <field id="default_expiry_days" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Expiry Days</label>
                    <comment>Default number of days until offer expires (0 = no expiration)</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="auto_generate_number" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto-generate Offer Numbers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Automatically generate sequential offer numbers</comment>
                </field>

                <field id="offer_number_template" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Offer Number Template</label>
                    <comment>Template for generating offer numbers. Available placeholders:{prefix},{store},{datetime},{date},{version}</comment>
                    <validate>required-entry</validate>
                </field>
            </group>

            <group id="statuses" translate="label" type="text" sortOrder="20"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Offer Statuses Configuration</label>

                <field id="offer_statuses_grid" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Offer Statuses</label>
                    <frontend_model>OneMoveTwo\Offers\Block\Adminhtml\System\Config\Form\Field\OfferStatuses</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>

                <field id="default_status" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Status for New Offers</label>
                    <source_model>OneMoveTwo\Offers\Model\Config\Source\OfferStatuses</source_model>
                    <comment>Status assigned to newly created offers</comment>
                </field>
            </group>


            <group id="admin_notifications" translate="label" type="text" sortOrder="30"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Admin Notifications</label>

                <field id="notify_on_customer_actions" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notify Admins on Customer Actions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Send notifications when customers accept, reject or modify offers</comment>
                </field>

                <field id="notification_recipients" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notification Recipients</label>
                    <comment>Comma-separated email addresses for admin notifications</comment>
                    <validate>validate-emails</validate>
                </field>

                <field id="notification_sender" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notification Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
            </group>

            <group id="customer_emails" translate="label" type="text" sortOrder="40"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer Email Settings</label>

                <field id="send_offer_created_email" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Email When Offer Created</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Automatically send email to customer when offer is created</comment>
                </field>

                <field id="send_status_change_email" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Email on Status Changes</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Send email to customer when offer status changes</comment>
                </field>

               <!-- <field id="template" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Choose Quote Proposal Expired Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <tooltip>360029381171</tooltip>
                </field>

                <field id="new_offer_email_template" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Offer Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email template for offer notifications</comment>
                </field> -->

                <field id="identity" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Choose Quote Notice Email Receiver</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
            </group>
        </section>

    </system>
</config>
